@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap');
#header-app {
  background-image: url(../img/world_map.png);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 200px;
  height: 400px;
  padding-left: 120px;
  padding-top: 150px;
}

#header-title {
  font-size: 60px;
  font-weight: 700;
  color: #00184a;
  margin-bottom: 30px;
  font-family: 'Black Han Sans', sans-serif;
}

#header-text {
  font-size: 20px;
  font-weight: 600;
  color: #505f98;
  margin-bottom: 50px;
}

#start-button {
  background-color: #00184a;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  width: 200px;
}

#start-button:hover {
  cursor: pointer;
}

#search-box {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 50px;
  margin-top: 100px;
  margin-left: 80px;
}

input[id=search-input] {
  width: 100%;
  height: 100%;
  border: solid 2px #ffffff;
  background-color: #EDEDF0;
  border-radius: 20px;
  color: gray;
  text-indent: 40px;
  font-size: 20px;
  font-weight: bold;
}

input[id=search-input]:focus {
  outline: 4px solid #505f98;
}

#icon {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  right: 10px;
  left: 20px;
}

#icon:hover {
  cursor:text;
}

#search {
  color: #00184a;
}

#delete {
  display: inline-block;
  margin-left: 5px;
  color: #00184a;
}

#delete:hover {
  cursor: pointer;
}

input[id=search-input]::placeholder {
  color: gray;
  font-size: 20px;
  font-weight: bold;
  text-indent: 40px;
}

#rooms {
  margin-left: 30px;
}

.room {
  font-family: 'Jua', sans-serif;
  background-color: #eaefff;
  height: 370px;
  width: 300px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.room:hover {
  cursor: pointer;
}

.room-header {
  width: 100%;
  height: 270px;
  border-radius: 15px 15px 0 0;
  background-size: 100% 280px;
  background-repeat: no-repeat;
}

.room-body {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  margin: 10px 20px 0px 20px;
}

.room-footer {
  margin-top: 10px;
  margin-left: 20px;
}

#first-footer {
  height: 200px;
  background-color: #eaefff;
  font-family:'Jua', sans-serif;
  padding: 50px 0px 0px 80px;
}

#footer-title {
  margin-bottom: 15px;
  font-size: 25px;
}

.footer-mail {
  margin-bottom: 10px;
}

#all-btn-div {
  display: inline-flex;
}

#all-btn {
  margin-left: 40px;
  padding: 6px 12px;
  color: #fff;
  background-color: #505f98;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: 0;
}