@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap");
#header-app {
  height: 400px;
  padding-left: 120px;
  padding-top: 150px;
}

#root {
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%23ffffff'%3E%3C/rect%3E%3Cpath d='M0 157L21.5 152.3C43 147.7 86 138.3 128.8 145.3C171.7 152.3 214.3 175.7 257.2 165.5C300 155.3 343 111.7 385.8 87.7C428.7 63.7 471.3 59.3 514.2 65.5C557 71.7 600 88.3 642.8 93.7C685.7 99 728.3 93 771.2 103.2C814 113.3 857 139.7 878.5 152.8L900 166L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23eaefff'%3E%3C/path%3E%3Cpath d='M0 124L21.5 132.7C43 141.3 86 158.7 128.8 160.7C171.7 162.7 214.3 149.3 257.2 145.2C300 141 343 146 385.8 148.8C428.7 151.7 471.3 152.3 514.2 146.8C557 141.3 600 129.7 642.8 135C685.7 140.3 728.3 162.7 771.2 182.3C814 202 857 219 878.5 227.5L900 236L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23d5dcf2'%3E%3C/path%3E%3Cpath d='M0 265L21.5 254C43 243 86 221 128.8 207C171.7 193 214.3 187 257.2 197.3C300 207.7 343 234.3 385.8 248.7C428.7 263 471.3 265 514.2 263.3C557 261.7 600 256.3 642.8 246.8C685.7 237.3 728.3 223.7 771.2 215.5C814 207.3 857 204.7 878.5 203.3L900 202L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23c1c9e5'%3E%3C/path%3E%3Cpath d='M0 304L21.5 301.3C43 298.7 86 293.3 128.8 299C171.7 304.7 214.3 321.3 257.2 322.3C300 323.3 343 308.7 385.8 292.7C428.7 276.7 471.3 259.3 514.2 256.2C557 253 600 264 642.8 281C685.7 298 728.3 321 771.2 331.3C814 341.7 857 339.3 878.5 338.2L900 337L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23adb6d8'%3E%3C/path%3E%3Cpath d='M0 316L21.5 318.2C43 320.3 86 324.7 128.8 321.2C171.7 317.7 214.3 306.3 257.2 311.8C300 317.3 343 339.7 385.8 352.8C428.7 366 471.3 370 514.2 365C557 360 600 346 642.8 334.2C685.7 322.3 728.3 312.7 771.2 312.3C814 312 857 321 878.5 325.5L900 330L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%239aa4cb'%3E%3C/path%3E%3Cpath d='M0 417L21.5 405.7C43 394.3 86 371.7 128.8 372.2C171.7 372.7 214.3 396.3 257.2 410C300 423.7 343 427.3 385.8 419.3C428.7 411.3 471.3 391.7 514.2 379.5C557 367.3 600 362.7 642.8 373.2C685.7 383.7 728.3 409.3 771.2 421C814 432.7 857 430.3 878.5 429.2L900 428L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%238792be'%3E%3C/path%3E%3Cpath d='M0 470L21.5 459.5C43 449 86 428 128.8 426.2C171.7 424.3 214.3 441.7 257.2 449.3C300 457 343 455 385.8 447.8C428.7 440.7 471.3 428.3 514.2 426C557 423.7 600 431.3 642.8 428.3C685.7 425.3 728.3 411.7 771.2 404C814 396.3 857 394.7 878.5 393.8L900 393L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%237581b1'%3E%3C/path%3E%3Cpath d='M0 488L21.5 483C43 478 86 468 128.8 474.5C171.7 481 214.3 504 257.2 512C300 520 343 513 385.8 505.7C428.7 498.3 471.3 490.7 514.2 481.7C557 472.7 600 462.3 642.8 460.2C685.7 458 728.3 464 771.2 465.5C814 467 857 464 878.5 462.5L900 461L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%236270a5'%3E%3C/path%3E%3Cpath d='M0 565L21.5 561.2C43 557.3 86 549.7 128.8 548.8C171.7 548 214.3 554 257.2 554.2C300 554.3 343 548.7 385.8 550.8C428.7 553 471.3 563 514.2 566.8C557 570.7 600 568.3 642.8 559.5C685.7 550.7 728.3 535.3 771.2 527.2C814 519 857 518 878.5 517.5L900 517L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23505f98'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#header-title {
  font-size: 60px;
  font-weight: 700;
  color: #00184a;
  margin-bottom: 30px;
  font-family: "Black Han Sans", sans-serif;
}

#header-text {
  font-size: 25px;
  font-weight: lighter;
  color: #505f98;
  margin-bottom: 50px;
  font-family: "Jua", sans-serif;
}

#start-button {
  background-color: #00184a;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 500;
  height: 50px;
  width: 200px;
  font-family: "Jua", sans-serif;
  border-radius: 15px;
}

#start-button:hover {
  cursor: pointer;
}

#search-box {
  display: flex;
  position: relative;
  width: 500px;
  height: 50px;
  margin-top: 0px;
  margin-left: 80px;
  justify-content: center;
  align-items: center;
}

#search-box > span {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[id="search-input"] {
  width: 100%;
  height: 100%;
  border: solid 2px #ededf0;
  background-color: #ededf0;
  border-radius: 20px;
  color: gray;
  text-indent: 40px;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
  font-family: "Jua", sans-serif;
}

input[id="search-input"]:focus {
  outline: 4px solid #505f98;
}

#icon {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  right: 10px;
  left: 20px;
}

#icon:hover {
  cursor: text;
}

#search {
  color: #00184a;
}

#delete {
  display: inline-block;
  margin-left: 5px;
  color: #00184a;
}

#delete:hover {
  cursor: pointer;
}

input[id="search-input"]::placeholder {
  color: gray;
  font-size: 20px;
  font-weight: bold;
  text-indent: 40px;
}

#rooms {
  margin-left: 30px;
  margin-top: 30px;
}

.room {
  font-family: "Jua", sans-serif;
  background-color: #eaefff;
  height: 370px;
  width: 300px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.room:hover {
  cursor: pointer;
}

.room-header {
  width: 100%;
  height: 270px;
  border-radius: 15px 15px 0 0;
  background-size: 100% 280px;
  background-repeat: no-repeat;
}

.room-body {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  margin: 10px 20px 0px 20px;
}

.room-footer {
  margin-top: 10px;
  margin-left: 20px;
}

#first-footer {
  height: 300px;
  /* background-color: #eaefff; */
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 329L16.7 328.7C33.3 328.3 66.7 327.7 100 321.8C133.3 316 166.7 305 200 302.5C233.3 300 266.7 306 300 303C333.3 300 366.7 288 400 288.2C433.3 288.3 466.7 300.7 500 302.5C533.3 304.3 566.7 295.7 600 294.3C633.3 293 666.7 299 700 299C733.3 299 766.7 293 800 293.3C833.3 293.7 866.7 300.3 883.3 303.7L900 307L900 601L883.3 601C866.7 601 833.3 601 800 601C766.7 601 733.3 601 700 601C666.7 601 633.3 601 600 601C566.7 601 533.3 601 500 601C466.7 601 433.3 601 400 601C366.7 601 333.3 601 300 601C266.7 601 233.3 601 200 601C166.7 601 133.3 601 100 601C66.7 601 33.3 601 16.7 601L0 601Z' fill='%23eaefff' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: space;
  background-position: 0 65%;
  font-family: "Jua", sans-serif;
  padding: 50px 0px 0px 80px;
  margin-top: 0px;
}

#footer-title {
  margin-bottom: 15px;
  font-size: 25px;
}

#desc-all {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc-box {
  box-sizing: border-box;
  margin-right: 30px;
  padding-left: 30px;
  min-width: 200px;
  color: #555555;
}

.desc-name {
  font-size: 25px;
  margin-top: 30px;
}

.desc-mail {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#title-logo {
  width: 150px;
  height: 120px;
  margin-right: 60px;
}

#all-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#all-btn {
  margin-left: 40px;
  padding: 6px 12px;
  color: #fff;
  background-color: #505f98;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  border: 0;
  font-family: "Jua", sans-serif;
}

#github-logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#notion-logo {
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

#logo-box {
  margin-top: 20px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#middle-box {
  display: flex;
}
