@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#chat_scroll {
    height: 100%;
    margin: 0px;
    overflow-y: scroll;
    font-family: 'Jua', sans-serif;
}

.notice_element {
    color: #505f98;
}

#chat_scroll::-webkit-scrollbar {
    background-color: #505f98;
}

#chat_scroll::-webkit-scrollbar-thumb {
    background-color: #505f98;
}

#chat_scroll::-webkit-scrollbar-track {
    background-color: #eaefff;
}

.name_element, .notice_element, .chat_element {
    margin-left: 23px;
}

.name_element {
    margin: 5px 0px 5px 23px;
}

.chat_element {
    height: 40px;
    word-break: break-all;
    margin-left: 20px;
    margin-right: 20px;
	position: relative;
	background: #eaefff;
	border-radius: .4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.chat_element::after {
    margin-left: 20px;
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: #eaefff;
	border-left: 0;
	margin-top: -8px;
	margin-left: -8px;
}

.notice_element {
    height: 40px;
    word-break: break-all;
    margin-left: 20px;
    margin-right: 20px;
	position: relative;
	background: #eaefff;
	border-radius: .4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.notice_element::after {
    margin-left: 20px;
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: #eaefff;
	border-left: 0;
	margin-top: -8px;
	margin-left: -8px;
}