textarea {
    height: inherit;
    width: 50%;
    border: solid 2px #ffffff;
    background-color: white;
    border-radius: 5px;
    resize: none;
    -webkit-box-sizing: border-box;
    /* color: gray;
    text-indent: 40px;
    font-size: 20px;
    font-weight: bold; */
}


button {
    padding: 6px 12px;
    color: white;
    background-color: #505f98;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    border: 0;
}