@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.left {
    width: 70%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    background: white;
}

.right {
    width: 30%;
    height: 100%;
    float: right;
    box-sizing: border-box;
}

.fake-root {
    height: 100vh;
}

.meet-root {
    height: 80%;
}

#video_grid {
    /* display: flex;
    align-items: center; */
}

.display_video {
    width: 100%;
    object-fit: cover;
    transform: scaleX(1);
    -webkit-transform: rotateY(0deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(0deg);
    /* Firefox */
}

.camera_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
}

.meet-footer {
    height: 20%;
    background-color: #eaefff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatting-list {
    height: 75%;
    background-color: white;
}

.chat-input {
    height: 20%;
    display: flex;
}

.user_btns {
    font-size: 40px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    color: #505f98;
    display: inline-flex;
    width: 65px;
    height: 65px;
    align-items: center;
    justify-content: center;
    border-radius: 65px;
}

.user_btns:hover {
    cursor: pointer;
}

#dm-select-div {
    padding-left: 10px;
    height: 5%;
    font-family: 'Jua', sans-serif;
    display: flex;
    align-items: center;
}

select {
    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    font-family: 'Jua', sans-serif;
    margin-right: 5px;
    font-size: 18px;
    width: 100px;
    text-align: center;
    display: flex;
    border: solid 4px #505f98;
    border-radius: 8px;
}